.clouds-container {
  position: relative;
  width: 100vw;
  height: 200px;
  overflow: hidden;
}

.cloud {
  position: absolute;
  opacity: 0;
  width: 120px;
  top: 30px;
  animation: cloud-fade-in-move 10s linear forwards;
}

.cloud1 {
  left: -150px;
  animation-delay: 0s;
}

.cloud2 {
  top: 70px;
  left: -100px;
  animation-delay: 1.5s;
}

.cloud3 {
  top: 120px;
  left: -200px;
  animation-delay: 3s;
}

@keyframes cloud-fade-in-move {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(120vw);
  }
}
